#bloom {
    height: 1000px;
    width: auto;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr repeat(9, 1fr);
    grid-template-rows: 5fr repeat(4, 10fr) 20fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .bloom1 { 
        grid-area: 1 / 1 / 2 / 20;
        align-self: center;
        background-color: #393939;
    }

    .bloom2 { 
        
        
        grid-area: 2 / 1 / 4 / 20;
        background-color: rgb(202, 202, 202);

        
    }

    .lorem > .lorem1 {
        grid-area: 2 / 3 / 3 / 4;
    }


    .img{
        object-fit: cover;
        position:static;
        float: right;
    }


    .bloom3 { 
        grid-area: 4 / 1 / 6 / 20;
        background-color: white;
    }

    .bloom4 { 
        grid-area: 6 / 1 / 7 / 20;
        background-color: #393939;
    }


    #site {
        height: 800px;
        width: 800px;
        margin: 0;
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr);
        grid-template-rows: 2fr 6fr repeat(3, 3fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .header {
            
            grid-area: 1 / 1 / 2 / 2;
            background-color: #ffa500;
        
        }
        .menu {
            
            grid-area: 1 / 2 / 2 / 4;
            background-color: red;
        
        }
        .hero {
            
            grid-area: 2 / 1 / 3 / 4;
            background-color: aqua;
        
        }
        .main { 
            
            grid-area: 3 / 1 / 5 / 2;
            background-color: mediumseagreen;
        
        }
        .image {
            
            grid-area: 3 / 3 / 4 / 4;
            background-color: crimson;
    
        }
    
        .extra {
            
            grid-area: 4 / 3 / 5 / 4;
            background-color: peru;
    
        }
        .banner {
            
            grid-area: 5 / 1 / 6 / 4;
            background-color: rgb(116, 139, 0);
    
        }