#main {
    display: grid;
    background-color: rgb(208, 204, 211);
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(13, 100px);
    margin: 50px;
    width: auto;
    z-index: -10;
    position: relative;
    column-gap: 5px;
    justify-content: stretch;
}
main {
    width: auto;
}
    

.text {
    background-color: rgba(245, 245, 220, 0.763);

}
.area1 {
    /* grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5; */
    grid-area: 3 / 2 / 7 / 6 ;
}
.area2 { 
    grid-area: 3/ 8 / 7 / 12;
}
.area3 {
    grid-area: 9 / 2 / 13 /  6 ;

}
.area4 {
    grid-area: 9 / 8  /13 /12 ;
}
img {
    object-fit: cover;
    height: 400px;
    width: 400px;
    position: relative;
    z-index: -5
}
.pic1 {
    grid-area: 2 / 3 / 6 / 7 ;
}
.pic2 {
    grid-area: 2/ 7/ 2/ 11;
}
.pic3 {
    grid-area: 8/ 3 /12 /7;
}
.pic4 {
    grid-area: 8/7 / 12 /11;
}

